*, *::before, *::after {
  box-sizing: border-box; 
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal; 
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #00AAFF, #00FF6C);
}

.calculator-grid {
  display: grid; 
  justify-content: center; 
  align-content: center; /* align the entire content of grid in the center, not items themselves*/ 
  min-height: 100vh; /* fill 100% of the time all the time */
  grid-template-columns: repeat(4, 100px); /* 4 columns*/
  grid-template-rows: minmax(120px, auto) repeat(5,100px); /*There are five different rows of buttons */
}

.calculator-grid > button {
  cursor: pointer; /* hover ower them pointer */
  font-size: 2rem; 
  border: 1px solid white; 
  outline: none; 
  background-color: rgba(255, 255, 255, .75); /* 75% opaque*/ 
}

.calculator-grid > button:hover {
  background-color:  rgba(255, 255, 255, .9);
}

.span-two{
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1; 
  background-color: rgba(0,0,0,.75);
  display: flex; 
  align-items: flex-end; 
  justify-content: space-around; /*not at the very top or bottom of container */
  flex-direction: column; 
  padding: 10px; 
  word-wrap: break-word; 
  word-break: break-all; /*wrap to next line*/ 
}

.output .previous-operand {
  color: rgba(255,255,255,.75);
  font-size: 1.5 rem; 
}

.output .current-operand {
  color: white;
  font-size: 2.5 rem; 
}